body {
    background-color: rgb(188, 60, 107); 
}

p {color: 
    black;
    font-size: 20px;
    text-align: center;
    margin: 10px;

}

div {
    background-color: rgb(92, 14, 45);

}